@import '@/styles/index.scss';

.t-message {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 28px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index-up;
  background-color: gainsboro;
  color: $text-color-default;
  font-size: $font-size-default;
  transform-origin: left;
  animation: animation-message-in forwards 0.55s;
}
.t-message-close {
  animation: animation-message-out forwards 0.55s;
}

@keyframes animation-message-in {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%); /* 初始状态，缩小并稍微向下偏移 */
  }
  50% {
    opacity: 1; /* 完全可见 */
    transform: scale(1.1) translate(-50%, -50%); /* 放大超过原始尺寸，准备回弹 */
  }
  65% {
    transform: scale(0.95) translate(-50%, -50%); /* 轻微回弹 */
  }
  80% {
    transform: scale(1.05) translate(-50%, -50%); /* 再次轻微回弹 */
  }
  100% {
    transform: scale(1) translate(-50%, -50%); /* 回到原始尺寸和位置 */
  }
}
@keyframes animation-message-out {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); /* 初始状态，缩小并稍微向下偏移 */
  }
  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%); /* 回到原始尺寸和位置 */
  }
}
