@import '@/styles/index.scss';

.t-message {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 24px;
  left: 50%;
  transform: translateXX(-50%);
  z-index: $z-index-up;
  color: $text-color-default;
  font-size: $font-size-default;
  transform-origin: left;
  animation: animation-message-in forwards 0.44s;
}
.t-message-close {
  animation: animation-message-out forwards 0.28s;
}
._icon-close {
  cursor: pointer;
  transition: 0.22s;
  &:hover {
    transform: scale(1.1);
  }
}
// 不同type样式
@mixin message-type($type, $bgColor, $textColor) {
  .t-message-type-#{$type} {
    background-color: #{$bgColor};
    color: #{$textColor};
    box-shadow: 0 0 2px #{$bgColor};
    border: 1px solid #{$bgColor};
  }
  // 处理plain样式
  .t-message-plain-#{$type} {
    background-color: white;
    color: $bgColor;
  }
}
@include message-type('info', $theme-color-info, white);
@include message-type('success', $theme-color-success, white);
@include message-type('warning', $theme-color-warning, white);
@include message-type('danger', $theme-color-danger, white);

@keyframes animation-message-in {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-50%);
    backface-visibility: hidden;
  }
  50% {
    transform: scale(1.1) translateX(-50%);
  }
  65% {
    transform: scale(0.95) translateX(-50%);
  }
  80% {
    transform: scale(1.05) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
    backface-visibility: hidden;
  }
}
@keyframes animation-message-out {
  0% {
    opacity: 1;
    transform: scale(1) translateX(-50%); /* 初始状态，缩小并稍微向下偏移 */
  }
  100% {
    opacity: 0;
    transform: scale(0) translateX(-50%); /* 回到原始尺寸和位置 */
  }
}
