@import "@/styles/index.scss";

.t-table-row {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  // width: fit-content;
}
.t-table-row-head {
  font-weight: bold;
  position: sticky;
  top: 0px;
  z-index: $z-index-up;
}
