@import "@/styles/index.scss";

.t-table-row {
  display: flex;
  box-sizing: border-box;
  transition: 0.15s;
  height: 100%;
}

.t-table-row-head {
  font-weight: bold;
  position: sticky;
  z-index: $z-index-up;
}

.t-table-row-foot {
  z-index: $z-index-up;
}
