@import "@/styles/index.scss";

.t-table-row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  ._table-col {
    flex: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-left: 1px solid rgba(220, 220, 220, 0.479);
    border-bottom: 1px solid rgba(220, 220, 220, 0.479);
    padding: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ._table-col:last-child {
    border-right: 1px solid rgba(220, 220, 220, 0.479);
  }
}
.t-table-row-head {
  font-weight: bold;
  background-color: #f5f7fa;
  border-bottom: 1px solid #f5f7fa;
  position: sticky;
  top: 0px;
  z-index: $z-index-up;
}
