@import "@/styles/index.scss";
._col-cell {
  flex-shrink: 0;
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  min-width: 33px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: inherit;
  ._cell-width-line {
    height: 100%;
    position: absolute;
    width: 4px;
    right: 0px;
    top: 0px;
    cursor: col-resize;
  }
}
._col-fixed {
  position: sticky !important;
  z-index: $z-index-up;
}
