@import '@/styles/index.scss';

.t-popover {
  position: relative;
  width: fit-content;
}
._t-popover {
  background-color: white;
  border: 1px solid gainsboro;
  color: $text-color-default;
  word-wrap: break-word;
  position: absolute;
  transition: 0.22s;
  border-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  z-index: $z-index-up;
  font-size: $font-size-default;
  ._triangle {
    position: absolute;
    z-index: $z-index-up;

    > div {
      position: absolute;
      overflow: hidden;
      bottom: 0px;
      left: 0px;
      width: 0;
      height: 0;
      border-width: 8px;
      border-style: dashed solid dashed dashed;
    }
    > div:nth-child(1) {
      border-color: gainsboro transparent transparent transparent;
    }
    > div:nth-child(2) {
      border-color: white transparent transparent transparent;
    }
  }
  // 三角指向处理
  @mixin popover-triangle($position, $transform) {
    &._t-popover-#{$position} ._triangle {
      // 第一个div的变换
      > div {
        transform: #{$transform};
      }

      // 第二个div的偏移
      > div:nth-child(2) {
        @if $position == 'top' {
          bottom: 1px;
        } @else if $position == 'right' {
          left: 1px;
        } @else if $position == 'bottom' {
          bottom: -1px;
        } @else if $position == 'left' {
          left: -1px;
        }
      }
    }
  }
  @include popover-triangle('top', translateY(100%));
  @include popover-triangle('right', rotate(90deg) translate(50%, 100%));
  @include popover-triangle('bottom', rotate(180deg) translateY(0%));
  @include popover-triangle('left', rotate(270deg) translate(-50%, 0%));
}

// 处理不同方向时出现，离开动画
@mixin popover-animation($position, $direction, $enter-translate, $leave-translate) {
  .t-popover-#{$position}-enter-active,
  .t-popover-#{$position}-leave-active {
    opacity: 1;
    transform: scale(1) #{$direction }($enter-translate);
  }

  .t-popover-#{$position}-enter-from,
  .t-popover-#{$position}-leave-to {
    opacity: 0;
    transform: scale(0.8) #{$direction }($leave-translate);
  }
}
// top动画
@include popover-animation('top', 'translateY', 0%, 30%);

// right动画
@include popover-animation('right', 'translateX', 0%, -30%);

// bottom动画
@include popover-animation('bottom', 'translateY', 0%, -30%);

// left动画
@include popover-animation('left', 'translateX', 0%, 30%);

// 自定义xy轴后的动画
._t-popover-custom {
  transform: scale(1) translate(-50%, -50%);
  transform-origin: left;
}
.t-popover-custom-enter-active,
.t-popover-custom-leave-active {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.t-popover-custom-enter-from,
.t-popover-custom-leave-to {
  opacity: 0;
  transform: scale(0.8) translate(-50%, -50%);
}
