@import "@/styles/index.scss";

.t-scrollbar {
  width: 100%;
  height: 100%;
  ._content {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: auto;
    // 隐藏滚动条 全面兼容
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
  ._scrollbar {
    cursor: pointer;
    position: absolute;
    left: calc(100% - 10px);
    top: 2px;
    width: $scrollbar-size;
    height: calc(100% - 2px);
    z-index: $z-index-up;
    transition: 0.32s;
    &._scrollbar-permanent {
      opacity: 0;
      transform: translateX($scrollbar-size);
    }
    &:hover {
      background-color: $scrollbar-bg;
    }

    ._scrollbar-thumb {
      width: 100%;
      border-radius: 10px;
      background-color: $scrollbar-thumb-color;
      transform-origin: center;
    }
  }
  // 横向轴
  ._scrollbar-h {
    top: auto;
    left: 2px;
    bottom: 2px;
    height: $scrollbar-size;
    &._scrollbar-permanent {
      width: calc(100% - 2px);
      transform: translateY($scrollbar-size);
    }
    ._scrollbar-thumb {
      height: 100%;
    }
  }

  // hover元素
  ._scrollbar-h._scrollbar-hover-h {
    opacity: 1 !important;
    transform: translateX(0px) !important;
  }
  ._scrollbar-v._scrollbar-hover-v {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}

.t-scrollbar-enter-active,
.t-scrollbar-leave-active {
  opacity: 1;
}

.t-scrollbar-enter-from,
.t-scrollbar-leave-to {
  opacity: 0;
}
