@import '@/styles/index.scss';

.t-radio {
    position: relative;
    font-size: 15px;
    transition: 0.22s;
    position: relative;
    display: flex;
    align-items: center;

    &:not(.is-disabled):hover .radio-span {
        border-color: $theme-color-primary;
    }


    >.radio-icon {
        width: 14px;
        height: 14px;
    }

    >.radio-span {
        border: 1px solid #dcdfe6;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        background-color: #fff;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        transition: 0.22s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    >.custom-radio-span {}


    >input {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        margin-left: 14px;
    }


    .title {
        cursor: pointer;
        transition: 0.22s;
        margin-left: 18px;
        user-select: none;
        text-wrap: nowrap;
        color: $text-color-default;
    }

    .custom-title {
        margin-left: 4px;
    }


    &[checked="true"] {
        .radio-span {
            background-color: $theme-color-primary;
        }

        .title {
            color: $theme-color-primary;
        }
    }
}

// group style
.t-group {

    // 默认配置
    .t-radio {
        width: 100%;

        .title {
            margin-left: 0px;
        }

        &:not(.is-disabled):hover {
            .title {
                color: $theme-color-primary;
            }
        }

        .radio-span {
            display: none;
        }
    }

    &[type="button"] .t-radio {
        background-color: white;
        padding: 6px;
        box-sizing: border-box;
        text-align: center;

        &[checked="true"] {
            background-color: $theme-color-primary;

            .title {
                color: white;
            }
        }

    }

    &[type="border"] .t-radio {
        background-color: white;
        padding: 6px;
        box-sizing: border-box;
        text-align: center;

        .radio-span {
            display: inline-block;
        }

        .title {
            margin-left: 18px;
        }

        &[checked="true"] {

            .title {
                color: $theme-color-primary;
            }
        }

    }

    &[type="text"] .t-radio {
        border: none !important;

        &[checked="true"] {
            .title {
                color: $theme-color-primary;
            }
        }

    }
}