@import '@/styles/index.scss';

$title-margin-left: 16px;

.t-radio {
    position: relative;
    font-size: $font-size-default;
    transition: 0.22s;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;



    >.radio-icon {
        width: 14px;
        height: 14px;
    }

    >.radio-span {
        border: 1px solid #dcdfe6;
        width: 14px;
        height: 14px;
        background-color: #fff;
        display: inline-block;
        box-sizing: border-box;
        transition: 0.22s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    >.radio-span-default {
        border-radius: 100%;
    }

    >.radio-span-square {
        border-radius: 0px;
    }


    >input {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        margin-left: 14px;
    }


    .title {
        transition: 0.22s;
        margin-left: $title-margin-left;
        user-select: none;
        text-wrap: nowrap;
        color: $text-color-default;
    }

    // 如果span被自定义后调整left样式
    .custom-span {
        margin-left: 4px !important;
    }


    &[checked="true"] {
        .radio-span {
            background-color: $theme-color-primary;
        }

        .radio-icon {
            color: $theme-color-primary;
        }

        .title {
            color: $theme-color-primary;
        }
    }

    &:not(.is-disabled):hover {
        .title {
            color: $theme-color-primary;
        }

        .radio-span {
            border-color: $theme-color-primary;
        }
    }
}

// 处理size
.radio-size-default {
    font-size: $font-size-default;
}

.radio-size-small {
    font-size: $font-size-small;

    >.radio-span {
        width: 12px;
        height: 12px;
    }
}

.radio-size-large {
    font-size: $font-size-large;
}

// 处理group样式
.group-type-button,
.group-type-border {
    background-color: white;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;

    .title {
        margin-left: 0px;
    }

    .radio-span {
        display: none;
    }

    &[checked="true"] {
        background-color: $theme-color-primary;

        &:hover .title {
            color: white;
        }

        .title {
            color: white;
        }

    }

    // 处理边框
    &.group-direction-row {
        border-left: 1px solid $border-color-default;
        border-top: 1px solid $border-color-default;
        border-bottom: 1px solid $border-color-default;

        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-right: 1px solid $border-color-default;
        }
    }

    &.group-direction-column {
        border-top: 1px solid $border-color-default;
        border-left: 1px solid $border-color-default;
        border-right: 1px solid $border-color-default;

        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &:last-child {
            border-bottom: 1px solid $border-color-default;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

.group-type-border {
    .radio-span {
        display: inline-block;
    }

    .title {
        margin-left: $title-margin-left;
    }

    &[checked="true"] {
        background-color: white;

        &:hover .title {
            color: $theme-color-primary;
        }

        .title {
            color: $theme-color-primary;
        }
    }
}

.group-type-text {
    .radio-span {
        display: none;
    }


    .title {
        margin-left: 2px;
    }

    &[checked="true"] {
        .title {
            color: $theme-color-primary;
        }
    }
}

.group-type-default {
    .title {
        margin-left: $title-margin-left;
    }

    .radio-span {
        display: inline-block;
    }

    &[checked="true"] {
        .title {
            color: $theme-color-primary;
        }

    }
}