@import "@/styles/index.scss";

.t-carousel {
  width: inherit;
  height: inherit;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: 0.55s;

  &._active {
    transform: scale(1);
    z-index: 1;
  }

  &._def {
    transform: scale(0.5) translateX(-20px);
    z-index: -1;
  }
}
