@import '@/styles/index.scss';

.t-icon {
    vertical-align: middle;

    /* 或者使用其他合适的值 */
    &.color-primary {
        color: $theme-color-primary !important;
    }

    &.color-success {
        color: $theme-color-success !important;
    }

    &.color-info {
        color: $theme-color-info !important;
    }

    &.color-warning {
        color: $theme-color-warning !important;
    }

    &.color-danger {
        color: $theme-color-danger !important;
    }
}