// 默认主题色
$theme-color-primary: var(--primary, #007bff);
$theme-color-success: var(--success, #28a745);
$theme-color-info: var(--info, #17a2b8);
$theme-color-warning: var(--warning, #ffc107);
$theme-color-danger: var(--danger, #dc3545);


// 默认颜色
$color-white: #ffffff;
$bg-color-default: #ffffff;
$border-color-default: #dcdfe6;
$text-color-default: #606266;