@import '@/styles/index.scss';

.t-input {
    border: $border-color-default 1px solid;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.22s;
    cursor: text;
    position: relative;
    width: 164px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    &:not(.is-disabled):focus-within {
        border: $theme-color-primary 1px solid;
    }

    .tip {
        position: absolute;
        color: rgba(128, 128, 128, 0.747);
        font-size: 10px;
        transition: 0.22s;
        left: 8px;
        top: -10px;
        z-index: 2001;
        background-color: white;
        user-select: none;
        animation: anima-tip ease 0.11s;
    }

    &.clearable {
        padding-right: 24px;
    }

    &.password {
        padding-right: 24px;
    }

    &.clearable.password {
        padding-right: 44px;
    }

    // icon 处理

    .prefix {
        margin-right: 4px;
        font-size: 14px;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(128, 128, 128, 0.63);
        font-weight: bold;
    }

    .right-icon {
        cursor: pointer;
        position: absolute;
        right: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .right-icon-enter-active {
        animation: anima-in-right_icon ease 0.11s;
    }

    .right-icon-leave-active {
        animation: anima-out-right_icon ease 0.11s;
    }

    &.is-disabled {
        background-color: $border-color-default;

        >input {
            cursor: not-allowed;
        }
    }
}

// 处理size
.t-input-size-default {
    height: 28px;
}

.t-input-size-small {
    height: 24px;
}

.t-input-size-large {
    height: 36px;
}

@keyframes anima-tip {
    0% {
        opacity: 0.5;
        top: 25%;
    }

    100% {
        opacity: 1;
        top: -10px;
    }
}

@keyframes anima-in-right_icon {
    0% {
        opacity: 0.5;
        right: 0px;
    }

    100% {
        opacity: 1;
        right: 6px;
    }
}

@keyframes anima-out-right_icon {
    0% {
        opacity: 1;
        right: 6px;
    }

    100% {
        opacity: 0;
        right: 0px;
    }
}