@import '@/styles/index.scss';

$title-margin-left: 16px;

.t-checkbox {
    position: relative;
    font-size: $font-size-default;
    transition: 0.22s;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    >._t-checkbox-icon {
        width: 14px;
        height: 14px;
    }

    >._t-checkbox-span {
        border: 1px solid #dcdfe6;
        width: 14px;
        height: 14px;
        background-color: #fff;
        display: inline-block;
        box-sizing: border-box;
        transition: 0.22s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        >i {
            font-size: 80% !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    >._t-checkbox-span-default {
        border-radius: 100%;
    }

    >._t-checkbox-span-square {
        border-radius: 0px;
    }


    >input {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        margin-left: 14px;
    }


    ._t-checkbox-title {
        transition: 0.22s;
        margin-left: $title-margin-left;
        user-select: none;
        text-wrap: nowrap;
        color: $text-color-default;
    }

    // 如果span被自定义后调整left样式
    ._t-checkbox-custom-span {
        margin-left: 4px !important;
    }


    &[checked="true"] {
        ._t-checkbox-span {
            background-color: $theme-color-primary;
        }

        ._t-checkbox-icon {
            color: $theme-color-primary;
        }

        ._t-checkbox-title {
            color: $theme-color-primary;
        }
    }

    &:not(.is-disabled):hover {
        ._t-checkbox-title {
            color: $theme-color-primary;
        }

        ._t-checkbox-span {
            border-color: $theme-color-primary;
        }

    }
}

// 处理size
.t-checkbox-size-default {
    font-size: $font-size-default;
}

.t-checkbox-size-small {
    font-size: $font-size-small;

    >.checkbox-span {
        width: 12px;
        height: 12px;
    }
}

.t-checkbox-size-large {
    font-size: $font-size-large;
}

// 处理group样式
._t-checkbox-group-type-button,
._t-checkbox-group-type-border {
    background-color: white;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;

    ._t-checkbox-title {
        margin-left: 0px;
    }

    ._t-checkbox-span {
        display: none;
    }

    &[checked="true"] {
        background-color: $theme-color-primary;

        &:hover ._t-checkbox-title {
            color: white;
        }

        ._t-checkbox-title {
            color: white;
        }

    }

    // 处理边框
    &._t-checkbox-group-direction-row {
        border-left: 1px solid $border-color-default;
        border-top: 1px solid $border-color-default;
        border-bottom: 1px solid $border-color-default;

        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-right: 1px solid $border-color-default;
        }
    }

    &._t-checkbox-group-direction-column {
        border-top: 1px solid $border-color-default;
        border-left: 1px solid $border-color-default;
        border-right: 1px solid $border-color-default;

        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &:last-child {
            border-bottom: 1px solid $border-color-default;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

._t-checkbox-group-type-border {
    ._t-checkbox-span {
        display: inline-block;
    }

    ._t-checkbox-title {
        margin-left: $title-margin-left;
    }

    &[checked="true"] {
        background-color: white;

        &:hover ._t-checkbox-title {
            color: $theme-color-primary;
        }

        ._t-checkbox-title {
            color: $theme-color-primary;
        }
    }
}

._t-checkbox-group-type-text {
    ._t-checkbox-span {
        display: none;
    }


    ._t-checkbox-title {
        margin-left: 2px;
    }

    &[checked="true"] {
        ._t-checkbox-title {
            color: $theme-color-primary;
        }
    }
}

._t-checkbox-group-type-default {
    ._t-checkbox-title {
        margin-left: $title-margin-left;
    }

    ._t-checkbox-span {
        display: inline-block;
    }

    &[checked="true"] {
        ._t-checkbox-title {
            color: $theme-color-primary;
        }

    }
}