@import '@/styles/index.scss';

.t-backTop {
  position: fixed;
  cursor: pointer;
  transition: 0.33s;
  color: $theme-color-primary;
  z-index: $z-index-up;
}
.t-backTop-plain {
  background-color: white;
  box-shadow: 0px 0px 5px #0000006b;
  border: 1px solid #0000002c;
  border-radius: 8px;
  padding: 6px;
}
// 处理动画
.t-backTop-enter-active,
.t-backTop-leave-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.t-backTop-enter-from,
.t-backTop-leave-to {
  opacity: 0;
  transform: scale(0.8) translateY(50%);
}
