@import "@/styles/index.scss";
._col {
  flex-shrink: 0;
  padding: 6px;
  width: 100%;
  min-width: 33px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: inherit;
  ._cell-width-set {
    height: 100%;
    position: absolute;
    width: 4px;
    right: 0px;
    top: 0px;
    cursor: col-resize;
  }
}
._col-fixed-left {
  position: sticky !important;
  left: 0px;
  z-index: $z-index-up;
  box-shadow: 5px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
