@import "@/styles/index.scss";

.t-pop-confirm {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  ._head {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  ._btn {
    display: flex;
    gap: 6px;
    margin-top: 4px;
    justify-content: flex-end;
    .t-button:nth-child(1) {
      color: $text-color-default;
    }
  }
}
