@import "@/styles/index.scss";

$shadow-color: rgba(0, 0, 0, 0.1);

.t-card {
  transition: 0.55s;
  position: relative;
  border-radius: 4px;
  border: 1px solid border-color(5);

  ._card-body {
    padding: 12px;
  }

  ._card-header {
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid border-color(5);
    margin-bottom: 6px;
    transition: 0.22s;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    &:hover {
      border-color: border-color(8);
    }
  }

  ._card-footer {
    font-size: 14px;
    padding: 6px 12px;
    box-sizing: border-box;
    border-top: 1px solid border-color(5);
    transition: 0.22s;

    &:hover {
      border-color: border-color(8);
    }
  }

  &.t-card-shadow-always {
    box-shadow: 0px 0px 12px $shadow-color;
  }

  &.t-card-shadow-hover {
    &:hover {
      box-shadow: 0px 0px 12px $shadow-color;
    }
  }

  &.t-card-shadow-never {
    box-shadow: none;
  }
}
