@import '@/styles/index.scss';

$transition-delay: 0.55s;

.t-collapse {
    border-bottom: 1px solid border-color(0.3);
    min-width: 100px;
    box-sizing: border-box;
    transition: 0.22s;

    .t-icon {
        display: flex;
        transition: $transition-delay;
        color: border-color(0.6);
    }

    ._t-collapse-icon-active {
        transform: rotate(90deg);
    }

    &:hover {
        border-bottom: 1px solid border-color(0.8);

        .t-icon {
            color: border-color(0.9);
        }
    }

    ._t-collapse-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding-bottom: 6px;
        font-size: 14px;
        min-height: 32px;


        ._t-collapse-head-right {
            display: flex;
            align-items: center;
        }
    }

    ._t-collapse-body {
        overflow: hidden;
        transition: height $transition-delay;
    }


}