@import "@/styles/index.scss";

.t-listView {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  box-sizing: border-box;
  ._inner {
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}
