@import "@/styles/index.scss";

.t-menu-group {
  margin-bottom: 4px;

  &__title {
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-weight: 500;
  }

  &__content {
    padding: 0;
  }
} 