@import '@/styles/index.scss';

$title-margin-left: 16px;

.t-tabs {
  position: relative;
  font-size: $font-size-default;
  transition: 0.22s;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid gainsboro;
  padding: 4px 8px;
  box-sizing: border-box;

  > ._icon {
    width: 14px;
    height: 14px;
  }
  &[checked='true'] {
    color: $theme-color-primary;
  }
}
